.main-col {
    padding: 0;
    margin: 0;
}

.product-headings {
    font-size: 25px;
    font-weight: 600;
    padding: 7px 16px 5px 16px;
}

.product-prize {
    text-align: end;
}

.rating-container {
    position: relative
}

.rating-stars {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rating-numbers {
    left: 62%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.buynow-button {
    float: right;
}

.review-buyers-container {
    position: relative
}

.reviews {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.buyers {
    left: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.add2cart-button {
    float: right;
    margin: 8px 0 8px 0;
}

